@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

body.light {
  @apply bg-zinc-300 text-gray-900;
}

body.light .navbar{
 background-color: rgb(244 244 245);
 color: rgb(17 24 39);
}

body.light .text-white{
  color: rgb(17 24 39);
}

 body.light .bg-black{
 @apply bg-red-600;
}

body{
  width: 100vw;
  height: 100vh;
  position: relative;
  padding: 2rem 1.2rem 0 6.75rem;
  @apply flex flex-col items-center;
  @apply bg-zinc-800 text-gray-50;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
}

body.padding{
  padding: 2rem 1.2rem 0 16rem;
}

#root{
  /* @apply w-full max-w-screen-2xl; */
}

.navbar{
  width: 90px;
}

.expander{
  width: 250px;
}