@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

body.light {
  @apply bg-zinc-300 text-gray-900;
}

body.light .navbar{
 background-color: rgb(244 244 245);
 color: rgb(17 24 39);
}

body.light .text-white{
  color: rgb(17 24 39);
}

 body.light .bg-black{
 @apply bg-red-600;
}

body{
  width: 100vw;
  height: 100vh;
  position: relative;
  padding: 1rem 1.2rem 0 6.75rem;
  @apply bg-zinc-800 text-gray-50;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
}

.navbar{
  width: 90px;
}

.expander{
  width: 250px;
}

@media (max-width: 639px) {

  body{
    padding: 1rem 1rem 0 4rem;
  }

  .navbar{
    width: 50px;
    padding: 5px;
    font-size: 14px;
  }

  .expander{
    width: 160px;
  }
}